<div>
  <h2 id="page-heading" data-cy="SPSIncomingTransactionsHeading">
    <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.home.title">SPS Incoming Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sps-incoming-transactions"
        [routerLink]="['/transaction/sps-incoming-transactions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.home.createLabel"
          >Create a new SPS Incoming Transactions</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (sPSIncomingTransactions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.home.notFound">No SPS Incoming Transactions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="messageid">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.messageid">Messageid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="channelcode">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.channelcode">Channelcode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="callbackurl">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.callbackurl">Callbackurl</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="messagetype">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.messagetype">Messagetype</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transcurrency">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.transcurrency">Transcurrency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="debtorsname">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.debtorsname">Debtorsname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="debtorsaccountid">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.debtorsaccountid">Debtorsaccountid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="debtorsbankcode">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.debtorsbankcode">Debtorsbankcode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="debtorsphone">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.debtorsphone">Debtorsphone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="beneficiaryname">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.beneficiaryname">Beneficiaryname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="beneficiaryaccountid">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.beneficiaryaccountid">Beneficiaryaccountid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="beneficiarybankcode">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.beneficiarybankcode">Beneficiarybankcode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="beneficiaryphone">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.beneficiaryphone">Beneficiaryphone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="narration">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.narration">Narration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="externalreference">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.externalreference">Externalreference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cbsreference">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.cbsreference">Cbsreference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="messageendtoendid">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.messageendtoendid">Messageendtoendid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionstatus">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.transactionstatus">Transactionstatus</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionstatusdesc">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.transactionstatusdesc">Transactionstatusdesc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spsstatus">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.spsstatus">Spsstatus</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spsstatusdesc">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.spsstatusdesc">Spsstatusdesc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cbsstatus">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.cbsstatus">Cbsstatus</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cbsstatusdesc">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.cbsstatusdesc">Cbsstatusdesc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestInstanttime">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.requestInstanttime">Request Instanttime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isomessagetype">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.isomessagetype">Isomessagetype</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestjson">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.requestjson">Requestjson</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spsrequestxml">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.spsrequestxml">Spsrequestxml</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="spsresponsexml">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.spsresponsexml">Spsresponsexml</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="transactionApp.transactionSPsIncomingTransactions.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sPSIncomingTransactions of sPSIncomingTransactions(); track trackId(sPSIncomingTransactions)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/transaction/sps-incoming-transactions', sPSIncomingTransactions.id, 'view']">{{
                  sPSIncomingTransactions.id
                }}</a>
              </td>
              <td>{{ sPSIncomingTransactions.messageid }}</td>
              <td>{{ sPSIncomingTransactions.channelcode }}</td>
              <td>{{ sPSIncomingTransactions.callbackurl }}</td>
              <td>{{ sPSIncomingTransactions.messagetype }}</td>
              <td>{{ sPSIncomingTransactions.transcurrency }}</td>
              <td>{{ sPSIncomingTransactions.debtorsname }}</td>
              <td>{{ sPSIncomingTransactions.debtorsaccountid }}</td>
              <td>{{ sPSIncomingTransactions.debtorsbankcode }}</td>
              <td>{{ sPSIncomingTransactions.debtorsphone }}</td>
              <td>{{ sPSIncomingTransactions.beneficiaryname }}</td>
              <td>{{ sPSIncomingTransactions.beneficiaryaccountid }}</td>
              <td>{{ sPSIncomingTransactions.beneficiarybankcode }}</td>
              <td>{{ sPSIncomingTransactions.beneficiaryphone }}</td>
              <td>{{ sPSIncomingTransactions.narration }}</td>
              <td>{{ sPSIncomingTransactions.externalreference }}</td>
              <td>{{ sPSIncomingTransactions.cbsreference }}</td>
              <td>{{ sPSIncomingTransactions.messageendtoendid }}</td>
              <td>{{ sPSIncomingTransactions.transactionstatus }}</td>
              <td>{{ sPSIncomingTransactions.transactionstatusdesc }}</td>
              <td>{{ sPSIncomingTransactions.spsstatus }}</td>
              <td>{{ sPSIncomingTransactions.spsstatusdesc }}</td>
              <td>{{ sPSIncomingTransactions.cbsstatus }}</td>
              <td>{{ sPSIncomingTransactions.cbsstatusdesc }}</td>
              <td>{{ sPSIncomingTransactions.requestInstanttime | formatMediumDatetime }}</td>
              <td>{{ sPSIncomingTransactions.isomessagetype }}</td>
              <td>{{ sPSIncomingTransactions.requestjson }}</td>
              <td>{{ sPSIncomingTransactions.spsrequestxml }}</td>
              <td>{{ sPSIncomingTransactions.spsresponsexml }}</td>
              <td>{{ sPSIncomingTransactions.amount }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/transaction/sps-incoming-transactions', sPSIncomingTransactions.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/transaction/sps-incoming-transactions', sPSIncomingTransactions.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(sPSIncomingTransactions)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
